#instructions {
  display: flex;
  align-items: flex-start;
}

#instructions code {
  font-family: 'Courier New';
  color: #d73a49;
}

#instructions ul li, #instructions ol li {
  line-height: 170%;
}
#instructions .zh {
  margin-bottom: 15px;
  font-size: 90%;
  font-weight: bold;
  color: #222;
}
#instructions small {
  display: block;
}
